@import "variables.scss";

// Tablet
@media (min-width: 576px) {
    body {
        background-image: url('../img/main-bg.webp');
        background-position: top 160px center;
    }

    .main-cards {
        margin-bottom: 40px;
    }

    .nav {
        padding-top: 13px;
        padding-bottom: 10px;
    }

    .disclosure, .updated {
        font-size: 15px;
    }

    .logo {
        height: 35px;
    }

    .category-slider {
        top: 59px;
    }

    .header {
        &__updated {
            display: none;
        }

        &__nav-updated {
            display: block;
            margin-left: 20px;
        }

        &__content {
            padding-top: 22px;
            padding-bottom: 12px;
            max-width: 750px;
        }

        &__title {
            text-align: left;
            font-size: 28px;
            margin-bottom: 9px;
        }

        &__desc {
            display: block;
            text-align: left;
            font-size: 16px;
            line-height: 130%;
            color: #6D6F73;
        }
    }
}

@media (min-width: 768px) {
    .to-top {
        padding: 45px 0;
        &__link {
            font-size: 19px;
            height: 59px;
            padding: 0 26px;

            &::after {
                width: 17px;
                height: 11px;
            }
        }
    }
    
    h1 {
        font-size: 34px;
    }
    
    h2 {
        font-size: 32px;
    }
    
    h3 {
        font-size: 28px;
    }
    
    h4 {
        font-size: 24px;
    }
    
    h5 {
        font-size: 20px;
    }
    
    h6 {
        font-size: 17px;
    }

    .cards-slider {
        .splide__slide {
            padding: 0;
        }

        &__item {
            max-width: 275px;
        }
    
        &__list {
            padding: 0 50px;
        }
    }

    .main-cards {
        &__cta-btn-box {
            padding: 17px;
            background: #FFFFFF;
            box-shadow: 0px 6px 25px rgba(12, 45, 95, 0.14);
            border-radius: 3px;
            transition: box-shadow 0.3s ease;

            .offer-mobile {
                display: none;
            }
        }

        &__cta-box {
            .link {
                font-size: 17px;
            }
        }

        &__image-box {
            flex-direction: row;
            flex-wrap: wrap;

            .image-img {
                height: 150px;
            }

            .image-logo {
                flex-grow: 1;
                width: 50%;
                max-width: 170px;
            }
        }

        &__image-rank {
            display: flex;
            width: 43px;
            height: 43px;
            border-radius: 50%;
            border: 2px solid #70A8D6;
            font-size: 22px;
            color: #70A8D6;
            justify-content: center;
            align-items: center;
            margin-right: 13px;
        }

        &__score-rank {
            display: none;
        }

        &__score-box {
            margin-left: 15px;
            margin-right: 15px;
            height: 47px;
        }

        &__item {
            &:hover {
                .main-cards__cta-btn-box {
                    box-shadow: 0px 6px 25px rgba(12, 45, 95, 0.24);
                }
            }
        }
    }

    .cta-offer {
        font-size: 19px;
        font-weight: 400;
    }

    .btn-primary {
        padding: 0 28px;
        height: 55px;
        font-size: 19px;

        span::after {
            width: 16px;
            height: 14px;
        }
    }

    .score-value {
        font-size: 23px;
    }

    .features-list {
        font-size: 17px;
    }

    .header__nav-updated {
        margin-left: 37px;
    }
}

// Descktop
@media (min-width: 992px) {
    .category-slider {

        .splide.category-slider__list {
            .splide__list {
                display: flex;
                justify-content: center;
            }

            .splide__slide {
                margin-right: 10px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .splide__arrows {
            display: none;
        }
    }

    .main-cards {
        .card-badge {
            @include badge-desk;
        }

        &__item {
            padding-bottom: 17px;

            display: grid;
            grid-auto-columns: 1fr 1fr 1fr 1fr 1fr; 
            grid-auto-rows: 1fr; 
            grid-template-columns: 25% 50% 25%; 
            grid-template-rows: auto auto; 
            gap: 0px 0px; 
            grid-template-areas: 
              "image score cta"
              "image feature cta"; 

        }
        &__image-box {
            grid-area: image;
            width: 100%;
            max-width: unset;
            padding-right: 12px;
            padding-top: 20px;
            align-items: start;

            .image-img {
                height: calc(100% - 66px);
            }
        }

        &__score-box {
            grid-area: score;
            margin-left: 12px;
            margin-right: 12px;
            width: calc(100% - 24px);
        }

        &__features-box {
            padding-left: 12px;
            grid-area: feature;
            background: transparent;
            padding-bottom: 0;
        }

        &__cta-box {
            grid-area: cta;
            max-width: unset;
            width: 100%;
            padding-top: 25px;
        }
    }

    .score-stars .star::before {
        width: 18px;
        height: 18px;
    }

    .cards-slider {

        &__item {
            max-width: 327px;
        }

        .splide__slide {
            padding: 0 10px;
        }
    }
}

@media (min-width: 1200px) {
    .category-slider,
    .nav-fixed {
        display: none;
    }

    .cards-slider__list {
        padding: 0 80px;
    }

    .aside {
        display: flex;
        flex-direction: column;
        width: 260px;
        flex-shrink: 0;
        margin-top: 34px;

        &__block {
            background-color: white;
            border: $borderGrey;
            @include shadow-grey;
            margin-bottom: 15px;
        }

        &__title {
            color: #535353;
            font-size: 20px;
            line-height: 23px;
            display: flex;
            align-items: center;
            padding: 15px 12px;

            span {
                display: flex;

                &::before {
                    @include svg;
                    display: inline-block;
                    margin-right: 9px;
                    margin-top: 6px;
                    background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.10714 0L10.2143 5.5L5.10714 11L0 5.5L5.10714 0Z' fill='%23535353'/%3E%3Cpath d='M5.10658 3L7.42801 5.5L5.10658 8L2.78516 5.5L5.10658 3Z' fill='white'/%3E%3C/svg%3E%0A");
                    width: 11px;
                    height: 11px;
                }
            }
        }

        &__content {
            padding: 0 20px;
            padding-bottom: 20px;
            color: #6A7C98;

            &.category-list {
                padding: 0;
                display: flex;
                flex-direction: column;
                text-align: center;

                & > div {
                    border-top: 1px solid #EAEAEA;

                    a {
                        color: #5F929F;
                        font-size: 16px;
                        display: block;
                        height: 100%;
                        width: 100%;
                        padding: 20px;
                        transition: background-color 0.3s ease;

                        &:hover {
                            color: #3A6C78;
                            background-color: #F5F5F5;
                        }

                        &.active {
                            background-color: #F5F5F5;
                            color: #505050;
                            font-weight: 500;
                        }
                    }
                }
            }
        }

        &-rank-text {
            font-size: 19px;
            line-height: 120%;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        &-guide-text {
            font-size: 16px;
            line-height: 140%;
        }

        &-guide-title {
            font-size: 18px;
            color: #262626;
            margin-bottom: 10px;
            margin-top: 23px;
            display: block;
        }
    }

    .side_left {
        margin-right: 30px;
    }

    .main {
        &__wrapper {
            display: flex;
        }
    }

    .main-cards {
        &__cta-btn-box {
            .btn-primary {
                padding: 0 15px;
            }
        }
    }

    .btn {
        &.btn_line {
            color: #5799CF;
            border-radius: 4px;
            border: 1px solid #5799CF;
            height: 55px;
            background-image: linear-gradient(86.76deg, #FBFBFB 0%, rgba(255, 255, 255, 0) 100%);
            transition: background-color 0.3s ease, color 0.2s ease;

            &:hover {
                background-image: none;
                background-color: #5799CF;
                color: #FFFFFF;
            }
        }
    }
}

@media (min-width: 1400px) {
    .cards-slider__list {
        padding: 0 100px;
    }

    .main-cards__cta-btn-box .btn-primary {
        padding: 0 28px;
    }
}